#one{
  background-color: orangered;
}

#count{
  height: 200px;
  padding-top: 70px;
}

#button1, #button2{
  margin-top: 70px;
}

#row-three{
  background-color: rgb(162, 238, 238);
}

img{
  height:100px;
  width: 100px;
}


